# Snippets

'.source.c, .source.cpp':
  'doxygen-file':
    'prefix': 'dfile'
    'body': """
      //! @file ${1:"Filename"}
      //! @brief ${2:"Description"}.
      //! @details ${3:"Details"}.
    """

  'doxygen-meta':
    'prefix': 'dmeta'
    'body': """
      //! @brief ${1:"Description"}.
      //! @details ${2:"Details"}.
      //! @note ${3:"Notes"}.
    """

  'doxygen-parameter':
    'prefix': 'dparam'
    'body': '//! @param[${1:"in/out"}] ${2:"Parameter"} ${3:"Description"}.'

  'doxygen-return':
    'prefix': 'dret'
    'body': '//! @return ${1:"Description"}.'

  'doxygen-inline':
    'prefix': 'dinline'
    'body': '//!< ${1:"Description"}.'
