[user]
    name = Paul McInnis
    email = paulmcinnis99@gmail.com

[github]
    user = PaulMcInnis

[alias]
    # Commit all changes.
    commitall = "!f() { git add --all; git commit -m \"$1\"; }; f"

[push]
    default = simple

[color]
    ui = true

[core]
    longpaths = true
